@using WebAppAspNetMvcCss.Models;
@model Client

<h3>Клиент</h3>

@using (Html.BeginForm("Create", "Clients", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить"  class="btn btn-success"/>
    @Html.ActionLink("Отменить", "Index", "Clients", new { @class = "btn btn-warning" })
}
