@using WebAppAspNetMvcHtml.Models;
@model List<ClientType>

@Html.ActionLink("Добавить тип клиента", "Create", "ClientTypes")


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Тип клиента
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clienttype in Model)
        {
        <tr>
            <td>
                @clienttype.Name
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "ClientTypes", new { id = clienttype.Id }, new { })
                @Html.ActionLink("Изменить", "Edit", "ClientTypes", new { id = clienttype.Id }, new { })
            </td>
        </tr>
        }
    </tbody>
</table>