@using WebAppAspNetMvcHtml.Models;
@model Citizenship

<h3>Гражданство</h3>

@using (Html.BeginForm("Edit", "Citizenships", FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Citizenships")
}
