@using WebAppAspNetMvcCss.Models;
@model Citizenship

<h3>Гражданство</h3>

@using (Html.BeginForm("Create", "Citizenships", FormMethod.Post))
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" class="btn btn-success"/>
    @Html.ActionLink("Отменить", "Index", "Citizenships", new { @class = "btn btn-warning" })
}
